@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
@import url(http://fonts.googleapis.com/css?family=Alike);

body {
  margin: 0;
  background-color: #bb010a;
}

header {
  margin: 0 auto;
  width: 1000px;
  background-image:url(../images/flag.jpg);
  font-family: "Alike";
  font-weight: bold;
  font-size: 20px;
}

header h1 {
  text-align: center;
  margin: 0;
  padding-top: .25em;
  color:#b9b4b5;
  font-family: "Alike";
  font-weight: bold;
  font-size: 50px;
}

header h2 {
  text-align: center;
  margin: 0;
  padding-bottom: 1em;
  color:#b9b4b5;
  font-family: "Alike";
  font-weight: bold;
  font-size: 20px;
}

h3 {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 5px;
  color:#2a3178;
  font-family: "Lato";
  font-weight: bolder;
  font-size: 30px;
}

p {
  margin: 0;
  margin-bottom: 10px;
}

nav {
  margin: 0 auto;
  width: 1000px;
  padding: 5px 0;
  text-align: center;
  background-color: #2a3178;
  border:solid #b9b4b5 15px;
}

nav a {
  margin: 0 35px;
  color:#b9b4b5;
}

.floatright {
  float: right;
  margin-left: 10px;
}

#maincolumn {
  margin: 0 auto;
  width: 1000px;
  padding: 5px 15px;
  background-color: #b9b4b5;
  font-family: "Alike";
  font-weight: normal;
  font-size: 20px;
}
ul{
  list-style-image: url(../images/star.png);
}
